h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.chatlist {
  /* background: rgb(224, 224, 224); */
  flex: auto;
}
.chat {
  display: flex;
  flex: 0 0 500px;
  flex-direction: column;
  align-content: center;
}
.form {
  max-height: 90px;
  /* background: rgb(184, 215, 144); */
  flex: auto;
  align-content: center;
}
.messages {
  /* background: rgb(234, 234, 182); */
  flex: auto;
  align-content: center;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
